%p#notice= notice
.container
  .row
    .col-md-8
      %h3.page-header-text
        %b= category.name      

      %p
        - category.products.each do |product|
          =link_to product.title, { controller: "products", action: "show", category_id:category.id, id: product.id }, class: "no-font-style"
          %br

      %p
        
    .col-md-4
      %h3 New product
      = render 'products/form'  

  = link_to 'Edit', edit_category_path(category)
  %br
  = link_to 'Back', categories_path
